[submodule "extern/taro-dvtoolkit"]
	path = extern/taro-dvstoolkit
	url = https://github.com/KugaMaxx/taro-dvstoolkit
[submodule "external/dv-toolkit"]
	path = external/dv-toolkit
	url = git@github.com:KugaMaxx/yam-toolkit.git
